.page-wrapper .sidebar-wrapper,
.sidebar-wrapper .sidebar-brand > a,
.sidebar-wrapper .sidebar-dropdown > a:after,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before,
.page-wrapper .page-content,
.sidebar-wrapper .sidebar-menu ul li a,
#show-sidebar,
#close-sidebar {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/*----------------page-wrapper----------------*/

.page-wrapper .theme {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 4px;
    margin: 2px;
    margin-top: 20px;
}

.page-wrapper .theme.chiller-theme {
    background: #1e2229;
}

/*----------------toggeled sidebar----------------*/

.page-wrapper.toggled .sidebar-wrapper {
    left: 0px;
}

/*----------------show sidebar button----------------*/
#show-sidebar {
    position: fixed;
    left: 0;
    top: 10px;
    border-radius: 0 4px 4px 0px;
    width: 35px;
    transition-delay: 0.3s;
}

.page-wrapper.toggled #show-sidebar {
    left: -40px;
}

/*----------------sidebar-wrapper----------------*/

.sidebar-wrapper {
    width: 230px;
    height: 100%;
    max-height: 100%;
    position: fixed;
    top: 0;
    left: -200px;
    margin-top: 95px;
    z-index: 999;
}

.sidebar-wrapper ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar-wrapper a {
    text-decoration: none;
}

/*----------------sidebar-content----------------*/

.sidebar-content {
    max-height: calc(100% - 30px);
    height: calc(100% - 30px);
    overflow-y: auto;
    position: relative;
}

.sidebar-content.desktop {
    overflow-y: hidden;
}

/*--------------------sidebar-brand----------------------*/

.sidebar-wrapper .sidebar-brand {
    padding: 24px 20px 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-wrapper .sidebar-brand > img {
    flex-grow: 1;
    width: auto;
}

.sidebar-wrapper .sidebar-brand #close-sidebar {
    cursor: pointer;
    font-size: 20px;
}

/*----------------------sidebar-menu-------------------------*/

.sidebar-wrapper .sidebar-menu {
    padding-bottom: 10px;
}

.sidebar-wrapper .sidebar-menu .header-menu span {
    font-weight: bold;
    font-size: 14px;
    padding: 15px 20px 5px 20px;
    display: inline-block;
}

.sidebar-wrapper .sidebar-menu ul li a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    position: relative;
    padding: 9px 10px;
}

.sidebar-wrapper .sidebar-menu ul li a img {
    margin-right: 10px;
    width: 18px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu ul {
    padding: 5px 0;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li {
    padding-left: 25px;
    font-size: 13px;
}

.sidebar-wrapper .sidebar-menu ul li a span.label,
.sidebar-wrapper .sidebar-menu ul li a span.badge {
    float: right;
    margin-top: 8px;
    margin-left: 5px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .badge,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .label {
    float: right;
    margin-top: 0px;
}

.sidebar-wrapper .sidebar-menu .sidebar-submenu {
    display: none;
}

/*--------------------------page-content-----------------------------*/

.page-wrapper .page-content {
    display: inline-block;
    width: 100%;
    padding-left: 0px;
    padding-top: 20px;
}

.page-wrapper .page-content > div {
    padding: 20px 40px;
}

.page-wrapper .page-content {
    overflow-x: hidden;
}

/*------scroll bar---------------------*/

::-webkit-scrollbar {
    width: 5px;
    height: 7px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #525965;
    border: 0px none #ffffff;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
    background: #525965;
}

::-webkit-scrollbar-thumb:active {
    background: #525965;
}

::-webkit-scrollbar-track {
    background: transparent;
    border: 0px none #ffffff;
    border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
    background: transparent;
}

::-webkit-scrollbar-track:active {
    background: transparent;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

/*-----------------------------chiller-theme-------------------------------------------------*/

.chiller-theme .sidebar-wrapper {
    background: #0b1c42;
}

.chiller-theme .sidebar-wrapper .sidebar-menu {
    border-top: 1px solid #ffffff1a;
    padding-top: 20px;
    margin-top: 20px;
}

.chiller-theme .sidebar-wrapper .sidebar-menu ul li {
    margin-bottom: 13px;
}

.chiller-theme .sidebar-wrapper .sidebar-brand > a,
.chiller-theme .sidebar-wrapper .sidebar-menu ul li a {
    color: #ffffff;
    opacity: 0.6;
    height: 42px;
    width: 210px;
    margin: auto;
    display: block;
    border-radius: 4px;
}

.chiller-theme .sidebar-wrapper .sidebar-menu ul li a:hover {
    /* background: transparent linear-gradient(90deg, #17cfe0 0%, #17cfe000 100%) 0% 0% no-repeat; */
    opacity: 1;
}

.page-wrapper.chiller-theme.toggled #close-sidebar {
    color: #bdbdbd;
    display: none;
}

.page-wrapper.chiller-theme.toggled #close-sidebar:hover {
    color: #ffffff;
}

.chiller-theme .sidebar-wrapper ul li:hover a i,
.chiller-theme .sidebar-wrapper .sidebar-dropdown .sidebar-submenu li a:hover:before,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active a i {
    color: #16c7ff;
    text-shadow: 0px 0px 10px rgba(22, 199, 255, 0.5);
}

.chiller-theme .sidebar-wrapper .sidebar-menu .header-menu span {
    color: #6c7b88;
}

.sidebar-wrapper .sidebar-brand > img.logo_1 {
    display: none;
}

.page-wrapper.toggled .page-content {
    padding-left: 230px;
    padding-top: 51px;
}

.page_card {
    padding: 15px !important;
}

.dme_logo {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 25px;
    margin: 0;
    text-align: center;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .chiller-theme .sidebar-wrapper .sidebar-menu ul li a {
        width: auto;
    }
}

@media (max-width: 767px) {
    .sidebar-wrapper {
        width: 76px;
    }

    .chiller-theme .sidebar-wrapper .sidebar-menu ul li a {
        width: auto;
    }

    .chiller-theme .sidebar-wrapper .sidebar-menu ul li a span {
        display: none;
    }

    .sidebar-wrapper .sidebar-brand > img.logo_1 {
        display: block;
    }

    .sidebar-wrapper .sidebar-brand > img.logo_2 {
        display: none;
    }

    .chiller-theme .sidebar-wrapper .sidebar-brand > a,
    .chiller-theme .sidebar-wrapper .sidebar-menu ul li a {
        width: 46px;
    }
}
